* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*,
*:focus {
    outline: none;
    color: rgba(115, 123, 134, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-accent: #04072F;
    --secondry-accent: #1575A7;
    --third-accent: #737B86;
    --CTA: #F78919;
    --body-font: 'Poppins', sans-serif;
}

.flex__col {
    display: flex;
    flex-direction: column;
}

.flex__row {
    display: flex;
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.start {
    align-items: flex-start;
    justify-content: flex-start;
}